* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-content {
    background: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header {
    background: #3a719e;
    color: #fcfafa;
    padding: 10px 0;
    display: block;
    text-align: center;
        }

button {
    padding: 10px 20px;
    
        }

.botones{
    display:inline;
        }

button:hover{
    background-color:white;
}

#black:hover{
    background-color:black;
    font-color: white;
    }
#red:hover{
         background-color: red;
    }

#blue:hover{
         background-color: blue;
    }

#green:hover {
    background-color: green;
    }

  
article {
    display: inline-block;

}

div {
    display: flex;
    padding: 10px 20px;
}

p {
    font-size: 20px;
    color: #3a719e;
    text-align: center;
    margin-top: 20px;
    
}

label {
    font-size: 18px;
    color: #3a719e;
    
}

.dark-mode {
    background-color: #222;
    color: white;
}
